/* 공통 디자인 common.css */
/* header, footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px; padding:0 80px;
    min-width: 1220px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* 스크롤 이동 시 고정 */
    position: fixed; left: 0; top:0; z-index: 999; width: 100%;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
/* 호랑가시나무언덕소개 ~ 고객센터까지 모든 gnb + lnb 공통 선택자 */
#wrap header nav {}
#wrap header nav #gnb {
    display: flex; /* li 정렬 목적 */
    flex-flow: row nowrap; gap: 20px;
}
#wrap header nav #gnb a:hover {color: yellow !important;}/* 공통 a */
#wrap header nav #gnb > li {position: relative;}/* 첫번째 서브 기준 (gnb_depth2 기준) */
#wrap header nav #gnb > li:hover .gnb_depth2 {display: block;}/* none을 걸어둔 선택자가 flex로 정렬되어있다면 flex로 보이게 해야함 */
#wrap header nav #gnb > li > a {
    color:#fff;
    line-height: 70px;
    display: block;
}
#wrap header nav #gnb > li .gnb_depth2 {/* 첫번째 서브 */
    background-color: #444;
    position: absolute;
    width: 160px;
    left: 50%; transform: translateX(-50%); /* adsolute 부모 x축 정중앙 */
    text-align: center;
    display: none;
}
#wrap header nav #gnb > li .gnb_depth2 > li {}
#wrap header nav #gnb > li .gnb_depth2 > li:hover .gnb_depth3 {display: block;}
#wrap header nav #gnb > li .gnb_depth2 > li > a {
    color: #fff;
    text-align: center;
    line-height: 46px;
    display: block;
}
#wrap header nav #gnb > li .gnb_depth2 > li .gnb_depth3 {
    background-color: #777;
    display: none;
}
#wrap header nav #gnb > li .gnb_depth2 > li .gnb_depth3 li {}
#wrap header nav #gnb > li .gnb_depth2 > li .gnb_depth3 li a {
    color: #fff;
    line-height: 46px;
    display: block;
    text-align: center;
}
/* =====================================================footer */
#wrap footer {}
#wrap footer p {}
/* =====================================================main w1220+p70 */
#wrap main .container_layout,
#wrap footer .container_layout {
    width: 1220px; margin:0 auto; padding:70px 0;
}
#wrap main .container_layout h1 {
    font-size: 1.5rem; font-weight: 500; margin: 0 0 30px;}
#wrap main .container_layout h1+p {
    font-size: 0.94rem; line-height: 1.7; color: #555; margin: 0 0 30px;}